{% extends 'base.html.twig' %}

{% block body %}
    <div id="app">
        {% raw %}{{ message }}{% endraw %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/app.js') }}"></script>
{% endblock %}
